.container {
  display: none;
}

.wallpaper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.357), rgba(255, 255, 255, 0.397)),
    url('../../../public/assets/wallpaper.png');
  background-position: center;
  background-size: cover;
  z-index: -1;
}

@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
  }

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    margin: 40px 280px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: aliceblue;
    color: #fff;
    box-shadow: 3px 5px 6px #000000b8;
    z-index: 1;
  }

  .containerDs {
    background-color: #86a17c;
  }

  .containerAf {
    background-color: rgb(32, 127, 190);
  }

  .containerIti {
    background-color: #a81e1e;
  }

  .title {
    font-size: 30px;
  }
}
